 .forrit { padding: .25em; text-align:center;}#abercrombie { background-image:url('icons/abercrombie.png'); }
#arbuthnot { background-image:url('icons/arbuthnot.png'); }
#baird { background-image:url('icons/baird.png'); }
#barclay-dress { background-image:url('icons/barclay-dress.png'); }
#barclay { background-image:url('icons/barclay.png'); }
#beeeach { background-image:url('icons/beeeach.png'); }
#birrell { background-image:url('icons/birrell.png'); }
#black-and-white { background-image:url('icons/black-and-white.png'); }
#blair { background-image:url('icons/blair.png'); }
#borthwick-dress { background-image:url('icons/borthwick-dress.png'); }
#borthwick { background-image:url('icons/borthwick.png'); }
#bruce { background-image:url('icons/bruce.png'); }
#bryan { background-image:url('icons/bryan.png'); }
#buchanan { background-image:url('icons/buchanan.png'); }
#cameron-hunting { background-image:url('icons/cameron-hunting.png'); }
#cameron { background-image:url('icons/cameron.png'); }
#carmichael { background-image:url('icons/carmichael.png'); }
#carnegie { background-image:url('icons/carnegie.png'); }
#chisholm { background-image:url('icons/chisholm.png'); }
#clark-clergy- { background-image:url('icons/clark-clergy-.png'); }
#cranston { background-image:url('icons/cranston.png'); }
#davidson { background-image:url('icons/davidson.png'); }
#douglas-green- { background-image:url('icons/douglas-green-.png'); }
#douglas-grey- { background-image:url('icons/douglas-grey-.png'); }
#dunbar { background-image:url('icons/dunbar.png'); }
#dunblane { background-image:url('icons/dunblane.png'); }
#elliot { background-image:url('icons/elliot.png'); }
#erskine { background-image:url('icons/erskine.png'); }
#filly { background-image:url('icons/filly.png'); }
#fletcher { background-image:url('icons/fletcher.png'); }
#forbes { background-image:url('icons/forbes.png'); }
#forsyth { background-image:url('icons/forsyth.png'); }
#fox-hunting { background-image:url('icons/fox-hunting.png'); }
#fraser { background-image:url('icons/fraser.png'); }
#galbraith { background-image:url('icons/galbraith.png'); }
#galloway { background-image:url('icons/galloway.png'); }
#gow { background-image:url('icons/gow.png'); }
#graham-of-menteith { background-image:url('icons/graham-of-menteith.png'); }
#graham-of-montrose { background-image:url('icons/graham-of-montrose.png'); }
#gunn { background-image:url('icons/gunn.png'); }
#hamilton { background-image:url('icons/hamilton.png'); }
#hunter { background-image:url('icons/hunter.png'); }
#ingles { background-image:url('icons/ingles.png'); }
#innes-macinnes { background-image:url('icons/innes-macinnes.png'); }
#irvine { background-image:url('icons/irvine.png'); }
#keith { background-image:url('icons/keith.png'); }
#kennedy { background-image:url('icons/kennedy.png'); }
#kincaid { background-image:url('icons/kincaid.png'); }
#lamont { background-image:url('icons/lamont.png'); }
#lauder { background-image:url('icons/lauder.png'); }
#lennox { background-image:url('icons/lennox.png'); }
#leslie-dress { background-image:url('icons/leslie-dress.png'); }
#leslie { background-image:url('icons/leslie.png'); }
#lindsay { background-image:url('icons/lindsay.png'); }
#livingston-e- { background-image:url('icons/livingston-e-.png'); }
#logan-and-maclennan { background-image:url('icons/logan-and-maclennan.png'); }
#macalpine { background-image:url('icons/macalpine.png'); }
#macarthur { background-image:url('icons/macarthur.png'); }
#macaulay-hunting { background-image:url('icons/macaulay-hunting.png'); }
#macauly { background-image:url('icons/macauly.png'); }
#macbeth { background-image:url('icons/macbeth.png'); }
#oregon { background-image:url('icons/oregon.png'); }
#phaedra { background-image:url('icons/phaedra.png'); }
#saskatchewan { background-image:url('icons/saskatchewan.png'); }
#test-plas-yn-i-l { background-image:url('icons/test-plas-yn-i-l.png'); }
#two-color { background-image:url('icons/two-color.png'); }
