[data-role="footer"] { text-align: center; padding: 5px 0;}#abercrombie { background-image:url('icons/abercrombie.png'); }
#arbuthnot { background-image:url('icons/arbuthnot.png'); }
#baird { background-image:url('icons/baird.png'); }
#barclay-dress { background-image:url('icons/barclay-dress.png'); }
#barclay { background-image:url('icons/barclay.png'); }
#beeeach { background-image:url('icons/beeeach.png'); }
#birrell { background-image:url('icons/birrell.png'); }
#blair { background-image:url('icons/blair.png'); }
#borthwick-dress { background-image:url('icons/borthwick-dress.png'); }
#borthwick { background-image:url('icons/borthwick.png'); }
#bruce { background-image:url('icons/bruce.png'); }
#buchanan { background-image:url('icons/buchanan.png'); }
#cameron-hunting { background-image:url('icons/cameron-hunting.png'); }
#cameron { background-image:url('icons/cameron.png'); }
#carmichael { background-image:url('icons/carmichael.png'); }
#carnegie { background-image:url('icons/carnegie.png'); }
#chisholm { background-image:url('icons/chisholm.png'); }
#clark-clergy- { background-image:url('icons/clark-clergy-.png'); }
#cranston { background-image:url('icons/cranston.png'); }
#davidson { background-image:url('icons/davidson.png'); }
#douglas-green- { background-image:url('icons/douglas-green-.png'); }
#douglas-grey- { background-image:url('icons/douglas-grey-.png'); }
#dunbar { background-image:url('icons/dunbar.png'); }
#dunblane { background-image:url('icons/dunblane.png'); }
#elliot { background-image:url('icons/elliot.png'); }
#erskine { background-image:url('icons/erskine.png'); }
#fletcher { background-image:url('icons/fletcher.png'); }
#forbes { background-image:url('icons/forbes.png'); }
#forsyth { background-image:url('icons/forsyth.png'); }
#fraser { background-image:url('icons/fraser.png'); }
#galbraith { background-image:url('icons/galbraith.png'); }
#galloway { background-image:url('icons/galloway.png'); }
#gow { background-image:url('icons/gow.png'); }
#graham-of-menteith { background-image:url('icons/graham-of-menteith.png'); }
#graham-of-montrose { background-image:url('icons/graham-of-montrose.png'); }
#oregon { background-image:url('icons/oregon.png'); }
#plas-yn-ial { background-image:url('icons/plas-yn-ial.png'); }
#saskatchewan { background-image:url('icons/saskatchewan.png'); }
